.main { 
    /*background-color: #006600;*/
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    background-image: url("../img/fon.jpg");
    background-repeat: repeat;
}
.lang {
    z-index: 10;
    position: absolute;
    top: 50px;
    right: 100px;
    display: block;
    width: 87px;
    height: 37px;
}
.lang_ru {
    background-image: url("../img/translate_ru.png");
    background-repeat: no-repeat;
    height: 36px;
    width: 42px;
    float: left;
    display: block;
    opacity: 0.7;
}
.lang_en {
    background-image: url("../img/translate_en.png");
    background-repeat: no-repeat;
    height: 36px;
    width: 43px;
    margin-left: 42px;
    display: block;
    opacity: 0.7;
}
.left {
    width: 37px;
    height: 205px;
    position: absolute;
    left: 0px;
    margin-top: 50px;
    opacity: 0.7;
    z-index: 3;
    background-image: url(../img/portfolio.png);
    background-repeat: no-repeat;
}
.left_bottom {
    width: 37px;
    height: 205px;
    position: absolute;
    left: 0px;
    margin-top: 300px;
    opacity: 0.7;
    z-index: 3;
    background-image: url(../img/contact.png);
    background-repeat: no-repeat;
}
.right {
    width: 37px;
    height: 205px;
    position: absolute;
    right: 0px;
    margin-top: 50px;
    opacity: 0.7;
    z-index: 3;
    background-image: url(../img/partner.png);
    background-repeat: no-repeat;
}
.right_bottom {
    width: 37px;
    height: 205px;
    position: absolute;
    right: 0px;
    margin-top: 300px;
    opacity: 0.7;
    z-index: 3;
    background-image: url(../img/articals.png);
    background-repeat: no-repeat;
}
.top {
    width: 285px;
    height: 39px;
    position: absolute;
    top: 0px;
    margin-left: 100px;
    opacity: 0.7;
    z-index: 4;
    background-image: url(../img/conf.png);
    background-repeat: no-repeat;
}
.bottom {
    width: 201px;
    height: 39px;
    position: absolute;
    bottom: 0px;
    margin-right: 100px;
    opacity: 0.7;
    z-index: 5;
    right: 0px;
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
}
.left_content {
    background-color: #b993d3;
    opacity: 0.7;
    width: 700px;
    position: absolute;
    top: 10px;
    bottom: 50px;
    left: 0px;
    display: none;
    z-index: 2;
}
.right_content {
    background-color: #b993d3;
    opacity: 0.7;
    width: 700px;
    position: absolute;
    top: 10px;
    bottom: 50px;
    right: 0px;
    z-index: 2;
    display: none;
}
.bottom_content {
    background-color: #b993d3;
    opacity: 0.7;
    height: 300px;
    position: absolute;
    bottom: 0px;
    left: 10px;
    right: 10px;
    z-index: 2;
    display: none;
}
.top_content {
    background-color: #b993d3;
    opacity: 0.7;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 10px;
    right: 10px;
   display: none;
    z-index: 2;
}
.content {
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: black;
    border-left-color: black;
    border-bottom-color: black;
    border-top-color: black;
    position: absolute;
    left: 40px;
    top: 40px;
    bottom: 20px;
}
.close{
    position: absolute;
    right: 0px;
    top: 10px;
    width: 10px;
    height: 10px;
    background: url("../img/buttons6.png") no-repeat scroll -153px -4px transparent;
}